.productpreview {
  height: 100vh;
  width: 100vw;

  .heading-3 {
    font-size: 1.5rem;
  }
  .productpreview__container {
    padding-top: 7rem;
  }
  .productpreview__list {
    display: flex;
    justify-content: center;
  }
  .price {
    font-size: 1.25rem;
  }
}
