.productpreview {
  height: 100vh;
  .heading-3 {
    font-size: 1.5rem;
  }
  .productpreview__container {
    padding-top: 7rem;
  }
  .productpreview__list {
    display: flex;
    justify-content: space-evenly;
  }
  .price {
    font-size: 1.25rem;
  }
}
